.services{
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(66, 78, 92, 0.2);
    margin-top: 60px;
} 

.service-img {
    object-fit: cover;
}

.service-image-title {
    text-shadow: 5px 8px 3px rgba(0, 0, 0, 0.5);
    font-size: 4rem;
    margin-bottom: 150px;
}